[user]
  name = Chris Wilson
  email = chris.wilson@thebeansgroup.com
[alias]
  lg = log --graph --decorate --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
  difff = "!f() { \
                  git diff --color | sed -E \"s/^([^-+ ]*)[-+ ]/\\1/\" | less -r; \
                }; f"
[core]
  editor = vim
  excludesfile = ~/.gitignore
[push]
  default = nothing
[commit]
  template = ~/.gitmessage
